body .container {
  padding: 0;
  padding-bottom: px;
  margin-inline: 220px;
  width: 100%;
  min-width: 1000px;
}

.main {
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 24px; 
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

