.card {
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 659px;
}

.card:last-child {
  margin-bottom: 0;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--mantine-color-darkPrimary-6);
  cursor: pointer;
}

.title:hover {
  color: var(--mantine-color-darkPrimary-4);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.experience {
  font-size: 14px;
  color: var(--mantine-color-gray-9);
}

.company {
  font-size: 14px;
  color: var(--mantine-color-gray-9);
}

.badge {
  font-size: 9px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0;
  padding: 0 6px;
  border-radius: 2px;
  height: 14px;
  border: none;
}

.area {
  margin-bottom: 8px;
}

.buttons {
  display: flex;
  gap: 12px;
}

.button {
  font-size: 14px;
  font-weight: 400;
}

.button-apply {
  background-color: #e0e0e0;
  color: #000;
  transition: background-color 0.2s, color 0.2s;
}

.button-apply.page {
  background-color: #000;
  color: #fff;
}

.button-apply:hover {
  background-color: #d5d5d5;
  color: #000;
}

.button-apply.page:hover {
  background-color: #6e6e6e;
  color: #fff;
}