.card {
    padding: 0;
}

.title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #212529;
}

.form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 12px;
  gap: 8px;
}

.form_input {
  width: 227px;
}

.form_input input {
  border-radius: 8px;
  font-size: 12px;
  border: 1px solid var(--mantine-color-preLight-9);
  min-height: 30px;
  height: 30px;
}

.form_input input:hover:not(:focus) {
  background-color: var(--mantine-color-ultraLight-2);
}

.form_input input:focus {
  border-color: var(--mantine-color-primary-4);
}

.form_button {
  opacity: 50%;
  width: 34px;
  height: 30px;
  border-radius: 8px;
}

.pills {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
}

.pills_skill {
  padding: 0 9px 0 12px;
  background-color: var(--mantine-color-background-0);
  font-size: 12px;
  border-radius: 16px;
  transition: background-color 0.2s ease;
}

.pills_skill button {
vertical-align: middle;
padding: 0;
}

.pills_skill path {
  fill: var(--mantine-color-lightGray-9);
}

.pills_skill:hover {
  background-color: var(--mantine-color-background-1);
}