.container {
  margin-top: 24px;
  margin-inline: auto;
  background-color: #fff;
  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  width: 658px;
}

.wrapper {
  gap: 0;
}

.title {
  margin-bottom: 12px;
  font-size: 26px;
}
