.page {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 20px; 
}

.card {
  margin-bottom: 16px;
  margin-inline: auto;
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 659px;
}

.wrapper-descr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

.requirement {
  margin-bottom: 8px;
}

.requirement__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
}

.responsibility__title {
  margin-bottom: 8px;
  font-weight: 600;
}
