.header_container {
    max-width: 1440px; 
    width: 100%; 
    margin: 0 auto;
}

.header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 20px;
    height: 60px;
    background-color: var(--mantine-color-white-0);
    box-shadow: 0px 2px 22.5px 0px #1c1d1f0d;
    
}

.header .logo {
    display: flex;
    align-items: center;
    margin-right: 466px;
    gap: 10px;
}

.header .nav_links {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-right: auto;
}

.nav_link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #1a1a1a;
    cursor: pointer;
}

.nav_link img {
    width: 6px;
    height: 6px;
}

.nav_link-about {
    color: var(--mantine-color-gray-9);
}

.nav_link-about img {
    width: 24px;
    height: 24px;
}
