.search_group {
    position: relative;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 8px;
    padding-bottom: 24px;
}

.search_group::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  width: 100vw;
  height: 1px;
  background-color: var(--mantine-color-preLight-9);
  opacity: 20%;
  transform: translateX(-50%);
  margin-top: 16px;
}

.search_title {
    margin-bottom: 4px;
    font-size: 26px;
    font-weight: 700;
}

.search_subtitle {
    margin: 0;
    font-size: 20px;
    color: var(--mantine-color-gray-9);
}

.search_controls {
    height: 100%;
    gap: 0;
    flex-wrap: nowrap;
}

.search_input {
    width: 403px;
    margin-right: 12px;
}

.search__input input {
  font-size: 16px;
  height: 42px;
  border-radius: 8px;
  color: var(--mantine-color-lightGray-9);
  background-color: var(--mantine-color-background-0);
}

.search_button {
    padding-left: 22px;
    padding-right: 22px;
    font-weight: 400;
    font-size: 16px;
    height: 42px;
}